body {
    background-color: #f0f0f0;
}

.container {
    padding: 3rem;
}

.main-card {
    background-color: #fff;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    padding: 2rem;
    text-align: center;
}

.card-title {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #333;
}

.sub-card {
    background-color: #fff;
    border: none;
    border-radius: 10px;
    padding: 1rem;
    margin: 1rem 0;
    transition: transform 0.2s, box-shadow 0.2s;
    text-align: center;
}

.sub-card:hover {
    transform: scale(1.05);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    background-color: #f9f9f9;
}

.btn-primary {
    background-color: #007BFF;
    border: none;
    transition: background-color 0.2s;
    display: inline-block;
    margin: 0 auto;
}

.btn-primary:hover {
    background-color: #0056b3;
}

.btn-primary:focus {
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}